# IDEs
.idea/
.vscode/

# Local env files
.env
.env.local
*.local
**/.env
**/.env.*
!**/.env.example

# Core dependencies
node_modules/
backend/target/
backend/immo-api/
frontend/dist/
frontend/node_modules/

# OS / editor
.DS_Store
*.swp
*.swo
